.bigpic {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.statusBox {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.statusInput {
  width: calc(100% - 20px);
  text-align: center;
  border: none;
}
