/* * {
  padding: 0;
  margin: 0;
} */

.usersItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
}

.info {
  flex-grow: 1;
  padding: 0 10px 0 50px;
}
.name {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px;
}
.location {
  margin: 0;
  margin: 0 0 0 10px;
}

button {
  /* display: inline-block; */
  margin-top: 0 0 0 0;
  width: 96px;
}
