.post {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  background-color: #fff;
  border: 1px solid #000;
  margin: 10px 10px;
  padding: 10px;
  color: #000;
}

.image {
  flex-basis: 50px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  /* background-image: url(/src/dist/);
  background-repeat: no-repeat;
  background-size: cover; */
}

.message {
  flex-grow: 1;
}
